.pill-button
  height 60px
  width 100%
  background var(--bgColorInverse)
  color var(--fgColorInverse)
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.5)
  border-radius 60px
  border none
  font-size 20px
  letter-spacing 1.25px
  line-height 25px

.text-button
  border none
