@import 'vars'

asset(src, w = false, h = false, size = '')
  for theme in themes
    selector = s(".%s", theme)
    url = s("/assets/%s/%s", unquote(theme), unquote(src))
    {selector} &
      background-image url(url)
      background-repeat no-repeat
      if w or h
        background-position center
        // background-size contain
      if w
        width w
      if h
        height h

flex-column()
  display flex
  flex-direction column
  width 100%

flex-row(w = 100%)
  display flex
  flex-direction row
  if w
    width w

fontSize(size)
  font-size calc(size * var(--font-scaling))
