body
  font-family Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  font-size 24px

em
  font-style normal
  font-weight bold

.special
  margin 2em 0
  padding-left .5em
  border-left .125em solid #333
