themes = dark-theme light-theme
items = bag bracelet bubblegum cheesecake chest chest-old coffee coin crepe end first-aid fox ghostfellows gin heart ink key key-rose lordneon maevia matches pete-letter photo-ella photo-ella-old propaganda recorder ringofrose rose secret-message splitter-judy splitter-recorder badend
baseFontSize = 24px
pad = 1rem // 25px
gap = .333rem
maxWidth = 450px
