themes = dark-theme light-theme
items = badend bag bracelet cabin cheesecake chest chest-old coffee coin crepe end first-aid fox ghostfellows gin-mule gin-peaks heart ink key key-rose lordneon lordneon2 lordneon3 maevia matches motelmidnight observatorium pete-letter photo-ella photo-ella-old plant propaganda recorder ringofrose rose rose-lebt secret-message snow-lebt snowpeaks splitter-judy splitter-recorder stardustdiner takodavibe undying
baseFontSize = 24px
pad = 1rem // 25px
gap = .333rem
maxWidth = 450px
