themes = dark-theme light-theme
items = badend bag bracelet bubblegum cabin cheesecake chest-old chest coffee coin crepe end first-aid fox ghostfellows gin-mule gin-peaks gin heart ink key-rose key lordneon lordneon2 lordneon3 maevia matches midnight motelmidnight observatorium pete-letter photo-ella-old photo-ella plant propaganda recorder ringofrose rose-lebt rose secret-message snow-lebt snowpeaks splitter-judy splitter-recorder stardustdiner
baseFontSize = 24px
pad = 1rem // 25px
gap = .333rem
maxWidth = 450px
