main
  max-width 60em
  margin auto
  padding 8px

  .next.links
    display flex
    flex-direction row
    justify-content space-between
    margin-bottom 24px

    button
      width calc(50% - 8px)
      padding 8px
