main.dark-theme
  background black
  color white

  p
    color #aaa

  .next.links

    &:before
      color #808080

    button
      color white
      background none
      border-color rgba(255,255,255,0.3)
