@import 'web-constants'

body
  width 100%

button
  padding gap

main, main.light-theme
  --backgroundColor #ffe
  --textColor #332

main.dark-theme
  --backgroundColor #110
  --textColor #eed

inverted() {
  background var(--textColor)
  color var(--backgroundColor)
  transition color 2s, background-color 2s
}
normal() {
  background var(--backgroundColor)
  color var(--textColor)
  transition color 2s, background-color 2s
}

main
  normal()
  width 100%
  max-width maxWidth
  margin auto
  padding 3*gap

  .next.links
    display flex
    flex-direction row
    justify-content space-between
    margin-bottom 6*gap

    button
      width "calc(50% - %s)" % gap
      padding gap

main.start
  .status
    .chapter:before
      content "Chapter "
    .chapter::after
      content " | "
    .progress:before
      content "Total progress "

  button.start:before
    content "Start"
  button.continue:before
    content "Continue"
  button.options:before
    content "Options"
  button.credits:before
    content "Credits"

main.read
  nav
    display flex
    flex-direction row
    margin-bottom 8*gap

    .back::before
      content "< back"

    .menu
      flex-grow 1
      display flex
      flex-direction row
      justify-content flex-end
      .chapters::before
        content "chapters"

  .next.links
    margin-top 8*gap

    .selected
      background text
      color background

.backdrop
  .overlay
    normal()
    padding 3*gap

    .title
      margin-bottom 8*gap

    .actions
      padding-top 8*gap

      .close::before
        content: 'Close'

.overlay.credits
  .title h2:before
    content 'Credits'

.overlay.options
  .title h2:before
    content 'Options'

  .reset
    margin-bottom 8*gap
    label
      display block
      &:before
        content 'Reset'
    button:before
      content 'Clear story progress'

  .list
    .option.theme .choices
      display flex
      flex-direction row

.overlay.feedbackMode
  .title h2:before
    content 'Thanks for your feedback!'
  p:before
    content 'Please copy and paste the text from below into your feedback form.'
  a.feedback-link:before
    content 'Open feedback form'

