@import '../vars'

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

// general

body
  font-family var(--fontFamily)

h2
  font-size (30 / baseFontSize)rem
  line-height 1.26666666738
  font-weight bold
  margin-bottom (32 / baseFontSize)rem

h3
  font-size (20/24)rem
  line-height 1.4
  margin-bottom (32 / baseFontSize)rem

h4
  font-size (16 / baseFontSize)rem
  line-height 1.6
  font-weight 300
  letter-spacing 0

h5
  font-size (14 / baseFontSize)rem
  line-height (18 / baseFontSize)rem
  font-weight 300
  letter-spacing 0

h6
  font-size (12 / baseFontSize)rem
  line-height (15 / baseFontSize)rem
  font-weight 300
  letter-spacing 0

p
  font-size (18 / baseFontSize)rem
  line-height 1.555555556
  font-weight 300
  letter-spacing 0

em
  font-style normal
  font-weight normal

button
  font-family var(--fontSans)
  font-size (14 / baseFontSize)rem
  letter-spacing .88px
  line-height 1.285714286
  text-align center

ol
  list-style-position inside

// special

.small
  font-size (12 / baseFontSize)rem
  letter-spacing 1.5px
  line-height 1.25
