// z = 150px
z = 30vw
main
  perspective 400vw
main .page .content
  perspective 800vw

.page
  transform-origin left

.page-enter-active, .page-leave-active
  transition transform .4s ease-in-out
.page-enter
  transform translate3d(110vw, 0, z*-1)
.page-enter-to
  transform translate3d(0, 0, 0)
.page-leave
  transform translate3d(0, 0, 0)
.page-leave-to
  transform translate3d(110vw, 0, z*-1)

.start
  &.page-enter
    transform translate3d(-50vw, 0, z) rotateY(-90deg)
  &.page-enter-to
    transform translate3d(0, 0, 0) rotateY(0deg)
  &.page-leave
    transform translate3d(0, 0, 0) rotateY(0deg)
  &.page-leave-to
    transform translate3d(-50vw, 0, z) rotateY(-90deg)

.section-enter-active
  animation .4s section-in
.section-leave-active
  animation .3s section-out

@keyframes section-in
  from
    transform translate3d(100vw, 0, 0) rotateY(10deg)
    opacity .5

  to
    transform translate3d(0, 0, 0) rotateY(0deg)
    opacity 1

@keyframes section-out
  from
    transform translate3d(0, 0, 0) rotateY(0deg)
    opacity 1

  to
    transform translate3d(-100vw, 0, 0) rotateY(-7deg)
    opacity 0
