.pill-button
  height 60px
  width 100%
  background var(--bgColorInverse)
  color var(--fgColorInverse)
  box-shadow 0 2px 4px 0 rgba(0,0,0,.5)
  border-radius 60px
  border none
  font-size 20px
  letter-spacing 1.25px
  line-height 25px

.outline-button
  height 60px
  margin 0 auto
  padding 0 pad
  background var(--bgColor)
  color var(--textColor)
  box-shadow 0 2px 4px 0 rgba(0,0,0,.5)
  border 1.5px solid @css { rgba(var(--textColorRgb), .75) }
  border-radius 30px
  font-size 16px
  letter-spacing 1px
  line-height 20px

.text-button
  border none
