.dark-theme
  --bgColor black
  --bgColorRgb 0, 0, 0
  --bgColorInverse white
  --bgColorInverseRgb 255, 255, 255
  --fgColor white
  --fgColorRgb 255, 255, 255
  --fgColorInverse black
  --fgColorInverseRgb 0, 0, 0
  --textColor #aaa
  --textColorRgb 170, 170, 170
  --textColorInverse #333
  --textColorInverseRgb 51, 51, 51
  --assetsFolder 'dark/'
