@import '../../vars'
@import 'texts'
@import 'layout'
@import 'options'
@import 'typography'
@import 'item'

// for theme in themes
//   src = s("%s", unquote(theme))
//   @import src

html, body, main
  background var(--bgColor)
  color var(--fgColor)

.overlay
  background var(--bgColor)
  color var(--fgColor)

@import 'start'
@import 'read'
@import 'overlays'
@import 'animations'
