@import '../../macros'
@import '../../vars'
@import 'item-flip'

.item
  height toRem(402)
  // max-height 500px
  height s("calc(300px + %s)", toRem(150))
  --textColor var(--itemTextColor)
  --fgColor  var(--itemTextHighlightColor)
  --fgColorRgb var(--itemTextHighlightColorRgb)

  .flipper
    width 100%
    height 100%
    border-radius toRem(30)
    border 1px solid var(--itemOutline)
    background var(--bgColor)
    rawAsset('/assets/items/card/stars@2x.jpg')
    background-size cover
    text-align center;

    .title, .content
      flex-column()
      width 100%
      height 100%

    .title
      height 100%

      &:before
        content ''
        flex 1
        margin toRem(65) toRem(42) toRem(16)
        background-size contain
        background-position center

      .number
        display none

      h3
        @extends h5
        &:after
          content 'Sammelobjekt'
          display block
          @extends .label
          font-size toRem(12)
          line-height toRem(20)
          font-weight 300
          margin-top 2px

    .content
      padding s("calc(%s - 1rem)", 2.666*baseFontSize) // 2*pad
      overflow auto
      -webkit-overflow-scrolling touch

      .text
        flex 1
        flex-column()
        justify-content center

        p, em
          font-size toRem(17)

      .media > *
        max-width 100%

for item in items
  .item.{item} .title:before
    rawAsset(s('/assets/items/%s.png', item))
