.item
  perspective 1000px

  &:not(.flipped) .flipper
    transform rotateY(179.9999deg) // iOS Safari hack, 180 deg makes the SVG disappear.

  .flipper
    transition 1s cubic-bezier(0.25, 0.25, 0.45, 1) //ease-in-out
    transform-style preserve-3d
    display grid
    grid-template "a"
    transform-origin 50% 0
    height 100%

    .title, .content
      backface-visibility hidden
      grid-area a
      top 0
      width 100%

    .title
      z-index 2
      transform rotateY(180deg)

    .content
      transform rotateY(0deg)
