@import '../../macros'
@import '../../vars'
@import 'item-flip'

.item
  height toRem(402)
  max-height 500px

  .flipper
    margin-top toRem(40)
    border-radius toRem(30)
    border 1px solid var(--itemOutline)
    background var(--bgColor)
    rawAsset('/assets/items/card/stars@2x.jpg')
    background-size cover
    text-align center;

    .title
      flex-column()
      height 100%

      &:before
        content ''
        flex 1
        margin toRem(65) toRem(42) toRem(16)
        background-size contain
        background-position center

      .number
        display none

      h3
        @extends h5
        &:before
          content 'Gegenstand'
          display block
          @extends .label
          font-size toRem(12)
          line-height toRem(20)
          font-weight 300

    .content
      flex-column()
      padding 2*pad

      .text
        flex 1
        flex-column()
        justify-content center

        p, em
          font-size toRem(17)

for item in items
  .item.{item} .title:before
    rawAsset(s('/assets/items/%s.svg', item))
