@import '../../macros'
@import '../../vars'
@import 'buttons'

html
  min-height 100%
  display flex

main
  max-width maxWidth
  height 100%;
  margin auto
  padding pad
  background-clip border-box
  border 4px solid var(--bgColor)

  .page
    flex-column()
