@import '../../macros'
@import '../../vars'
@import 'buttons'

html, body, main, main .page
  width 100%
  min-height 100%
  box-sizing border-box

html, body
  display flex

html
  overflow hidden

body
  max-height 100vh
  overflow hidden auto
  -webkit-overflow-scrolling touch

main
  position relative
  max-width maxWidth
  margin auto
  background-clip border-box

  .page
    position absolute
    max-width 100%
    flex-column()
    padding pad

