@import '../../macros'
@import '../../vars'
@import 'buttons'

html
  min-height 100%
  display flex

main
  max-width maxWidth
  height 100%;
  margin auto
  padding s("calc(%s - 3px)", pad)
  background-clip border-box
  border 4px solid var(--bgColor)
  box-shadow 0 0 1rem black

  .page
    flex-column()

