html
  &.dark-theme
    --bgColor black
    --bgColorRgb 0, 0, 0
    --bgColorInverse white
    --bgColorInverseRgb 255, 255, 255
    --fgColor white
    --fgColorRgb 255, 255, 255
    --fgColorInverse black
    --fgColorInverseRgb 0, 0, 0
    --textColor #aaa
    --textColorRgb 170, 170, 170
    --textColorInverse #333
    --textColorInverseRgb 51, 51, 51
    --linkColor #5bf0f0
    --linkColorRgb 97, 255, 255

    // read
    --decisionButtonBg #0A1116
    --decisionButtonBorder rgba(255,255,255,.3)
    --itemOutline #53585C

    // overlay
    --overlayBg @css { radial-gradient(circle, #394349 0%, #0D1B22 100%) }
    --closeButtonBg var(--bgColor)

    // options panel
    --alert #ff483d
    --active #36c64f
    --inactive #888
    --bgHighlight rgba(255, 255, 255, .1)

    // chapters overlay
    --chapterIdTextColor var(--textColor)

    // item
    --itemTextColor var(--fgColor)
    --itemTextHighlightColor var(--fgColorInverse)
    --itemTextHighlightColorRgb var(--fgColorInverseRgb)

  &.light-theme
    --bgColor #f4f4f4
    --bgColorRgb 255, 255, 255
    --bgColorInverse black
    --bgColorInverseRgb 0, 0, 0
    --fgColor black
    --fgColorRgb 0, 0, 0
    --fgColorInverse white
    --fgColorInverseRgb 255, 255, 255
    --textColor #333
    --textColorRgb 51, 51, 51
    --textColorInverse #ccc
    --textColorInverseRgb 204, 204, 204

    // read
    --decisionButtonBg #fff
    --decisionButtonBorder #dfdfdf
    --itemOutline #53585C

    // overlay
    --overlayBg #F4F4F4
    --closeButtonBg #fff
  
    // options panel
    --alert #ff483d
    --active #36c64f
    --inactive #888
    --bgHighlight #fff

    // chapters overlay
    --chapterIdTextColor rgba(51, 51, 51, .65)

    // item
    --itemTextColor var(--textColorInverse)
    --itemTextHighlightColor var(--fgColorInverse)
    --itemTextHighlightColorRgb var(--fgColorInverseRgb)

  --fontSerif 'Merriweather', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  --fontSans 'Merriweather Sans', Helvetica, 'Open Sans', Verdana, Arial, sans-serif

  &.font-serif
    --fontFamily var(--fontSerif)
  &.font-sans
    --fontFamily var(--fontSans)

  &.size-m
    font-size baseFontSize
  &.size-l
    font-size baseFontSize + 4px
  &.size-xl
    font-size baseFontSize + 12px
