html
  &.dark-theme
    --bgColor black
    --bgColorRgb 0, 0, 0
    --bgColorInverse white
    --bgColorInverseRgb 255, 255, 255
    --fgColor white
    --fgColorRgb 255, 255, 255
    --fgColorInverse black
    --fgColorInverseRgb 0, 0, 0
    --textColor rbga(255, 255, 255, .75)
    --textColorRgb 170, 170, 170
    --textColorInverse #333
    --textColorInverseRgb 51, 51, 51

    // specials
    --overlayBg @css { radial-gradient(circle, #394349 0%, #0D1B22 100%) }
    --decisionButtonBg #0A1116

    // options panel
    --alert #ff483d
    --active #36c64f
    --inactive #888
    --bgHighlight rgba(255, 255, 255, .1)

  &.light-theme
    --bgColor white
    --bgColorRgb 255, 255, 255
    --bgColorInverse black
    --bgColorInverseRgb 0, 0, 0
    --fgColor black
    --fgColorRgb 0, 0, 0
    --fgColorInverse white
    --fgColorInverseRgb 255, 255, 255
    --textColor rbga(0, 0, 0, .65)
    --textColorRgb 170, 170, 170
    --textColorInverse #ccc
    --textColorInverseRgb 204, 204, 204

    // specials
    --overlayBg @css { radial-gradient(circle, #394349 0%, #0D1B22 100%) }
    --decisionButtonBg #0A1116

    // options panel
    --alert #ff483d
    --active #36c64f
    --inactive #888
    --bgHighlight rgba(255, 255, 255, .1)

  --fontSerif 'Merriweather', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  --fontSans 'Merriweather Sans', Helvetica, 'Open Sans', Verdana, Arial, sans-serif

  &.font-serif
    --fontFamily var(--fontSerif)
  &.font-sans
    --fontFamily var(--fontSans)

  &.size-m
    font-size baseFontSize
  &.size-l
    font-size baseFontSize + 4px
  &.size-xl
    font-size baseFontSize + 12px
