// base

// animations
@keyframes overlay
  0%
    opacity 0
    transform translateY(100%)
  50%
    opacity 1
  100%
    transform translateY(0)

@keyframes overlay-backdrop
  0%
    backdrop-filter blur(0px)
  80%
    backdrop-filter blur(4px)

.backdrop
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  display flex
  flex-direction column
  backdrop-filter blur(4px)

  &:before // spacer
    margin auto
    content ''
    flex 1

  .overlay
    margin auto
    width 100%
    max-width maxWidth
    max-height 100%
    overflow auto
    box-shadow 0 0 50px @css { rgba(var(--textColorRgb), .2) }

  &.overlay-enter-active, &.overlay-enter-active .overlay
    animation-duration .6s
  &.overlay-leave-active, &.overlay-leave-active .overlay
    animation-duration .3s
    animation-direction reverse

  &.overlay-enter-active, &.overlay-leave-active
    animation-name overlay-backdrop
  &.overlay-enter-active .overlay, &.overlay-leave-active .overlay
    animation-name overlay

// theme

html.overlay-open
  &, body
    overflow hidden

.overlay
  closePad = 60px
  position relative
  max-height 100%
  z-index 2
  overflow auto
  background var(--overlayBg)
  font-family var(--fontFamily)

  > .title
    text-align center
    margin-top toRem(100)
    padding 0 4*gap

    h2
      font-weight 400
      margin-bottom toRem(40)

  > .content
    padding 4*gap

    &:after
      content ''
      display block
      height 3*closePad

  .actions
    flex-row()
    justify-content center
    position fixed
    bottom 0
    max-width maxWidth
    z-index 3
    padding closePad
    background @css { linear-gradient(0deg, var(--bgColor) 0%, rgba(var(--bgColorRgb), .8) 47.79%, rgba(var(--bgColorRgb), 0) 100%) }

    button.close
      @extends .outline-button
      image-button('options-close-x.svg')
      border-radius 50%
      padding 0

  &.chapters .list
    flex-column()
    text-align center
    margin-top 4*gap

    .chapter
      margin-bottom 35px
      cursor pointer

      .chapter-id
        @extends h6
        color var(--textColor)
        margin-bottom 5px

      h3
        margin-bottom 30px

      .sections
        flex-column()
        max-height 100vh
        overflow hidden
        transition max-height .5s ease-in-out

        .section
          h4
            @extends h5
            margin-bottom 30px
          &.current h4
            text-decoration underline

      &:not(.open) .sections
        max-height 0

  &.options
    position relative

    .content
      padding-left 0
      padding-right 0

    label
      @extends h4
      color var(--textColor)
      margin-right auto

    highlight-row()
      flex-row()
      align-items center
      margin-bottom 2px
      padding 16px 31px 16px 25px
      background var(--bgHighlight)

    .reset
      highlight-row()
      margin-bottom 60px

      > button
        image-button('options-reset.svg')
        background var(--alert)

      .confirm
        display flex
        flex-direction column
        position fixed
        top 0
        right 0
        bottom 0
        left 0
        padding 3*gap
        background var(--overlayBg)
        text-align center
        z-index 4

        &:before, &:after
          content ''
          flex 1

        button
          @extends .pill-button

          &.ok
            margin (40 / baseFontSize)rem 0 (20 / baseFontSize)rem
            color var(--fgColor)
            background var(--alert)

        &.fade-enter-active, &.fade-leave-active
          transition opacity .5s

        &.fade-enter, &.fade-leave-to
          opacity 0

    .list
      flex-column()

      .option
        highlight-row()

        .choices
          flex-row(false)

        button
          justify-self flex-end
          background var(--inactive)
          margin-left 20px
          font-size 0 // showing icons instead

          &.active
            background var(--active)

        &.theme .dark-theme button
          image-button('options-theme-dark.svg')
        &.theme .light-theme button
          image-button('options-theme-light.svg')

        &.font .font-sans button
          image-button('options-font-sans.svg')
        &.font .font-serif button
          image-button('options-font-serif.svg')

        &.size .size-m button
          image-button('options-size-m.svg')
        &.size .size-l button
          image-button('options-size-l.svg')
        &.size .size-xl button
          image-button('options-size-xl.svg')

  &.credits, &.imprint
    p
      font-weight 400

      em
        @extends p, .small
        display block
        margin-top 1rem
        font-weight 300
        letter-spacing 0

    .paragraph-element:last-child
      margin-top 1em

    .next.links
      margin-top 2em

      button
        display block
        margin auto
        margin-bottom .5em

  &.credits, &.imprint
    text-align center

  &.items
    flex-column()
    text-align center

    .title h2
      margin-bottom gap

    .content
      padding 0 pad pad

      .count
        @extends .label

        .total
          &:before
            content ' von '
          &:after
            content ' Karten entdeckt'

    .item
      @extends .item
      margin-top toRem(40)
