// @import '../../vars'

main.read
  nav
    flex-row()
    padding-bottom pad
    width = 48px
    height = width

    .back
      margin-right auto
      asset('read-nav-logo.svg', width, height)

    .menu
      .chapters
        asset('read-nav-chapters.svg', width, height)

  .text
    p
      color var(--textColor)
      margin-bottom 1.333em

    .style
      &.note-black p
        color var(--fgColor)
        font-style italic
      &.note-blue p
        color var(--blueText)
        font-style italic

  .next.links
    icon-width = 180px
    icon-height = 130px

    position relative
    flex-row()
    justify-content space-between
    // align-items stretch
    margin-bottom 166px
    padding-top icon-height

    &:before
      width icon-width
      // height icon-height
      position absolute
      top 0
      left "calc(50% - (%s / 2))" % icon-width
      padding-top "calc(%s - 1em - 30px)" % icon-height
      asset('read-decision-logo.svg')
      background-position center (icon-height - 91px)
      color @css { rgba(var(--textColorRgb), .75) }
      text-transform uppercase
      font-family "Merriweather Sans"
      font-size 14px
      font-weight 300
      letter-spacing 0
      line-height 18px
      text-align center

    button
      // width calc(50% - 8px)
      @extends .word-break
      width 154px
      height @width
      min-width (maxWidth / 3)
      max-width s('calc((%s / 2) - %s)', maxWidth, gap)
      min-height @min-width
      max-height @max-width
      padding 24px
      margin auto
      border 1.5px solid @css { rgba(var(--textColorRgb), .75) }
      border-radius 30px
      background var(--decisionButtonBg)

      &:not(:last-child)
        margin-right gap

      &:disabled
        color @css { rgba(var(--textColorRgb), .75) }

      &.selected
        color var(--fgColorInverse)
        background var(--bgColorInverse)

