@import '../../vars'
@import '../../macros'

.page.read
  nav
    flex-row()
    padding-bottom pad
    width = 48px
    height = width

    .back
      margin-right auto
      asset('read-nav-logo.svg', width, height)
      margin-left -9px

    .menu
      .playback
        asset('read-nav-play.svg', width, height)
      .items
        asset('read-nav-items.svg', width, height)
      .chapters
        asset('read-nav-chapters.svg', width, height)
      .options
        asset('read-nav-options.svg', width, height)
        margin-right -9px

  .content

    .section

      .title .position
        @extends h5
        color var(--textColor)
        margin-bottom .5*gap

      .text
        p
          margin-bottom 1rem

          a.skip-link
            position relative
            top -1.5em

          p // showdown sometimes generates p tags inside, hide them
            margin 0
            display inline

        .style
          &.note-black p
            color var(--fgColor)
            font-style italic
          &.note-blue p
            color var(--blueText)
            font-style italic
          &.recording
            .element.paragraph-element:first-child > p:before, .element.paragraph-element:last-child > p:after
              font-style normal

            p
              font-style italic

            .element.paragraph-element:first-child > p:before
              content: "[ 🔴 REC ] "
            .element.paragraph-element:last-child > p:after
              content: " [ ■ STOP ]"

        .add-item
          margin-top toRem(40)
          margin-bottom 3*pad

        .error
          @extends p
          padding-left pad
          border-left pad solid var(--alert)

        img.image {
          margin-top: .4rem;
          margin-bottom: 1.8rem;
        }

      .next.links
        icon-width = 250px
        icon-height = 130px

        position relative
        justify-content space-between
        padding-top "calc(%s + 14px)" % icon-height
        border-bottom 166px solid transparent // margin-bottom get's ignored with .page pos:absolute

        &:before
          @extends h5
          width icon-width
          position absolute
          top 0
          left "calc(50% - (%s / 2))" % icon-width
          padding-top "calc(%s - 2em)" % icon-height
          asset('read-decision-logo.svg')
          background-position "center calc(%s - %s - %s)" % (icon-height 2em 55px)
          color @css { rgba(var(--textColorRgb), .75) }
          text-transform uppercase
          font-family var(--fontSans)
          font-weight 300
          text-align center

        button
          @extends .word-break
          border 1.5px solid @css { var(--decisionButtonBorder) }
          background var(--decisionButtonBg)

          &:disabled
            color @css { rgba(var(--textColorRgb), .75) }

          &.selected
            color var(--fgColorInverse)
            background var(--bgColorInverse)


        :root:not(.size-xl) &
          flex-row()

          button
            width 154px
            height @width
            min-width (maxWidth / 3)
            max-width s('calc((%s / 2) - %s)', maxWidth, gap)
            min-height @min-width
            max-height @max-width
            padding 24px 20px
            margin auto
            border-radius (30 / baseFontSize)rem

            &:not(:last-child)
              margin-right gap

        :root.size-xl &
          flex-column()

          button
            width 100%
            padding 24px 20px
            border-radius 24px

            &:not(:first-child)
              margin-top gap
