@import '../../vars'

main.read
  nav
    flex-row()
    padding-bottom pad
    width = 48px
    height = width

    .back
      margin-right auto
      asset('read-nav-logo.svg', width, height)
      margin-left -9px

    .menu
      .items
        asset('read-nav-items.svg', width, height)
      .chapters
        asset('read-nav-chapters.svg', width, height)
        margin-right -9px

  .title .position
    @extends h3
    margin-bottom .5*gap

  .text
    p
      margin-bottom 1rem

      p // showdown sometimes generates p tags inside, hide them
        margin 0
        display inline

    .style
      &.note-black p
        color var(--fgColor)
        font-style italic
      &.note-blue p
        color var(--blueText)
        font-style italic
      &.recording
        .element.paragraph-element:first-child > p:before, .element.paragraph-element:last-child > p:after
          font-style normal

        p
          font-style italic

        // &:before, &:after
        .element.paragraph-element:first-child > p:before
          content: "[ 🔴 REC ] "
        .element.paragraph-element:last-child > p:after
          content: " [ ■ STOP ]"

    .add-item
      margin-bottom 3*pad

  .next.links
    icon-width = 180px
    icon-height = 130px

    position relative
    flex-row()
    justify-content space-between
    // align-items stretch
    margin-bottom 166px
    padding-top icon-height

    &:before
      width icon-width
      // height icon-height
      position absolute
      top 0
      left "calc(50% - (%s / 2))" % icon-width
      padding-top "calc(%s - 1em - 27px)" % icon-height
      asset('read-decision-logo.svg')
      background-position center (icon-height - 91px)
      color @css { rgba(var(--textColorRgb), .75) }
      text-transform uppercase
      font-family "Merriweather Sans"
      @extends h5
      font-weight 300
      text-align center

    button
      // width calc(50% - 8px)
      @extends .word-break
      width 154px
      height @width
      min-width (maxWidth / 3)
      max-width s('calc((%s / 2) - %s)', maxWidth, gap)
      min-height @min-width
      max-height @max-width
      padding (24 / baseFontSize)rem
      margin auto
      border 1.5px solid @css { rgba(var(--textColorRgb), .75) }
      border-radius (30 / baseFontSize)rem
      background var(--decisionButtonBg)

      &:not(:last-child)
        margin-right gap

      &:disabled
        color @css { rgba(var(--textColorRgb), .75) }

      &.selected
        color var(--fgColorInverse)
        background var(--bgColorInverse)

