.page.start
  text-align center
  // asset('start-background.jpg')
  assetx('start-background', 'jpg', 2)
  background-size cover  

  .title
    flex 2
    flex-column()
    justify-items center

    .logo
      asset('start-logo.svg', 300px, 266px)
      margin auto
    h1
      display none

  .buttons
    flex 1
    flex-column()
    justify-content flex-end
    padding-bottom 26px

    .status
      @extend .small
      margin-bottom 20px

    button
      min-height 2.5em

      &.start, &.continue
        @extends .pill-button
        margin-bottom 18px

      &.options, &.credits, &.imprint
        @extends .text-button
        display block
        font-size 16px
        font-weight 300
        letter-spacing 1.25px
        margin-bottom 18px
        opacity .75

      &.options
        display none
