.page.start
  .status
    .chapter:before
      content "Kapitel "
    .chapter::after
      content " | "
    .progress:before
      content "Gesamtfortschritt "

  button.start:before
    content "Beginnen"
  button.continue:before
    content "Fortsetzen"
  button.options:before
    content "Optionen"
  button.credits:before
    content "Mitwirkende"
  button.imprint:before
    content "Impressum"

.page.read
  .next.links:before
    content "Deine Entscheidung"
  .next.links.count-1:before
    content "Weiter zu"

.overlay
  &.options
    .title h2:before
      content 'Optionen'
    .reset
      label:before
        content 'Speicherstand löschen'
      .confirm
        h2:before
          content 'Bist du sicher?'
        p:before
          content 'Dein Gesamtfortschritt und Sammelobjekte gehen verloren.'
        button.ok:before
          content 'Speicherstand löschen'
        button.cancel:before
          content 'Abbrechen'


  &.feedback-mode
    .title h2:before
      content 'Danke für dein Feedback!'
    textarea:before
      content 'Bitte kopiere den Inhalt des folgenden Textfeldes und sende es mit dem Feedbackformular. Einfach den Link unten anklicken.'
    a.feedback-link:before
      content 'Feedbackformular starten'

  &.chapters
    .chapter-id:before
      content 'Kapitel '

  &.credits
    .title h2:before
      content 'Mitwirkende'

  &.imprint
    .title h2:before
      content 'Impressum'

  &.items
    .title h2:before
      content 'Deine Sammlung'
