@import '../vars'
@import '../macros'

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

// general

body
  font-family var(--fontFamily)
  hyphens auto

h2, h3, h4, h5, h6
  color var(--fgColor)

h2
  font-size toRem(30)
  line-height 1.26666666738
  font-weight bold
  margin-bottom (32 / baseFontSize)rem

h3
  font-size toRem(20)
  line-height 1.4
  margin-bottom (32 / baseFontSize)rem

h4
  font-size toRem(16)
  line-height 1.6
  font-weight 300
  letter-spacing 0

h5
  font-size toRem(14)
  line-height (18 / baseFontSize)rem
  font-weight 300
  letter-spacing 0

h6
  font-size toRem(12)
  line-height (15 / baseFontSize)rem
  font-weight 300
  letter-spacing 0

p
  font-size toRem(18)
  line-height 1.555555556
  font-weight 300
  letter-spacing 0
  color var(--textColor)

em
  @extends p
  font-style normal
  color @css { rgba(var(--fgColorRgb), .95) }

button
  font-family var(--fontSans)
  font-size toRem(14)
  letter-spacing .88px
  line-height 1.285714286
  text-align center

ol
  list-style-position inside

a, a:link
  color var(--linkColor)
  text-decoration none

  &:hover, &:active
    opacity .8

// special

.small
  font-size toRem(12)
  letter-spacing 1.5px
  line-height 1.25

.label
  font-size toRem(16)
  line-height toRem(24)
  font-weight 400
  letter-spacing 0
  opacity .75
