@import '../../common/constants'

body
  width 100%

button
  padding gap

main, .light-theme main
  --backgroundColor #ffe
  --textColor #332

.dark-theme main
  --backgroundColor #110
  --textColor #eed

inverted() {
  background var(--textColor)
  color var(--backgroundColor)
  transition color 2s, background-color 2s
}
normal() {
  background var(--backgroundColor)
  color var(--textColor)
  transition color 2s, background-color 2s
}

.item
  border 1px solid var(--textColor)

main
  normal()
  width 100%
  max-width maxWidth
  margin auto
  padding 3*gap

  .next.links
    display flex
    flex-direction row
    justify-content space-between
    margin-bottom 6*gap

    button
      width "calc(50% - %s)" % gap
      padding gap

main.start
  .status
    .chapter:before
      content "Chapter "
    .chapter::after
      content " | "
    .progress:before
      content "Total progress "

  button.start:before
    content "Start"
  button.continue:before
    content "Continue"
  button.options:before
    content "Options"
  button.credits:before
    content "Credits"

main.read
  nav
    display flex
    flex-direction row
    margin-bottom 8*gap

    .back::before
      content "< back"

    .menu
      flex-grow 1
      display flex
      flex-direction row
      justify-content flex-end
      .feedback-mode::before
        content "feedback"
      .items::before
        content "items"
      .chapters::before
        content "chapters"

  .text
    .item:before
      content "Item"

  .next.links
    margin-top 8*gap

    .selected
      inverted()

.backdrop
  .overlay
    normal()
    padding 3*gap

    .title
      margin-bottom 8*gap

    .actions
      padding-top 8*gap

      .close::before
        content: 'Close'

.overlay.credits
  .title h2:before
    content 'Credits'

.overlay.options
  position relative

  .title h2:before
    content 'Options'

  .reset
    margin-bottom 8*gap

    label
      display block

      &:before
        content 'Reset'

    > button:before
      content 'Clear story progress'

    .confirm
      display flex
      flex-direction column
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      padding 3*gap
      background var(--backgroundColor)

      &:before, &:after
        content ''
        flex 1

      &.fade-enter-active, &.fade-leave-active
        transition opacity .5s

      &.fade-enter, &.fade-leave-to
        opacity 0

      h2:before
        content 'Reset everything?'
      p:before
        content 'Your progress will be lost.'
      button.ok:before
        content "Yep, let's start from scratch"
      button.cancel:before
        content 'Nope! Get me out of here!'

  .list
    .option.theme .choices
      display flex
      flex-direction row

      button.active
        inverted()

.overlay.feedbackMode
  .title h2:before
    content 'Thanks for your feedback!'
  p:before
    content 'Please copy and paste the text from below into your feedback form.'
  a.feedback-link:before
    content 'Open feedback form'

.overlay.items
  .title
    margin-bottom 0

    h2:before
      content 'Your items'

  .items
    .count
      margin-bottom 8*gap

      .count:before
        content 'You collected '
      .count:after
        content ' of '
      .total:after
        content ' items.'
    .item
      .title
        margin-bottom gap

        .number
          display inline-block
          .current:before
            content 'Item '
          .current:after
            content ' of '

.overlay.chapters
  .title h2:before
    content 'Chapters you read'

.overlay.shareOverlay
  p.intro:before
    content: 'Just copy the link below and share it with friends.'

  input
    margin 2*gap 0
    width 95%

  p.copied:before
    content 'Link copied!'

